.App {
  width: 100%;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  max-width: auto;
}

body {
  padding: 0;
  margin: 0;
  /* background-color: white; */
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  z-index: -1;
}
